.watchlist {
  &-title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 28px;
    margin-left: 15px;
  }

  &-nodata {
    font-size: 32px;
    text-align: center;
    margin-top: 20%;
  }
}